@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
body{
    background-color: beige;
    position: absolute;
}
img{
    width: 470px;
    height:200px;
    border-radius: 20px;
    position: relative;
    left: 14px;
    top: 20px;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 500px;
    position: relative;
    left: 520px;
    top: 100px;
}
h1{
    font-family: 'Young Serif';
    position: relative;
    left: 35px;
    top: 15px;
    font-size: 26px;
}
p{
    font-family: 'Outfit';
  position: relative; 
  left: 35px;
  font-size: 10px;
  margin-right: 90px;
}
.Box{
background-color: hsl(330, 100%, 98%);
position: relative;
left: 35px;
border-radius: 10px;
width: 430px;
}
.Box h3{
    color:hsl(332, 51%, 32%) ;
    font-family: 'Outfit';
    font-size: 16px;
    position: relative;
    left: 35px;
}
.Box ul{
    font-family: 'Outfit';
    font-size: 13px; 
}
h2{
  color: hsl(14, 45%, 36%);
  font-family: 'Young Serif';
  position: relative;
  left: 35px;
  top: 15px;
  font-size: 19px;
}
ul{
    font-family: 'Outfit';
    position: relative;
    left: 35px;
    font-size: 12px;
}
hr{
    position: relative;
    left: 20px;
    top: 10px;
    margin-right: 60px;
    border: 0.5px gray solid;
    opacity: 0.3;
}
ol{
    font-family: 'Outfit';
    position: relative;
    left: 35px;
    font-size: 12px;
    margin-right: 90px;
}
.Cals p{
    font-family: 'Outfit';
    position: relative;
    left: 35px;
    font-size: 12px; 
    color:hsl(332, 51%, 32%);
    font-weight: bold;
}
.Cals{
    display: flex;
}
